{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center welcome-text mt-3 mb-3">Shopping bag</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table-responsive">
                <table class="table table-borderless text-center">
                    <thead>
                        <tr>
                            <th scope="col">Art Piece:</th>
                            <th scope="col" class="bag-art-details-col"></th>
                            <th scope="col">Price:</th>
                            <th scope="col">Qty:</th>
                            <th scope="col" class="subtotal-col">Subtotal:</th>
                        </tr>
                    </thead>
                    {% for item in bag_items %}
                    <tr>
                        <td class="p-0">
                            <img class="img-fluid rounded" src="{{ item.art.art_image.url }}">
                        </td>
                        <td class="bag-art-details-col">
                            <p>
                                {{item.art.title}}
                            </p>
                            <p>
                                {{item.art.size}}
                            </p>
                            <p>
                                {{item.art.media}}
                            </p>
                            {% if item.art.is_framed %}
                            <p>
                                Framed
                            </p>
                            {% else %}
                            <p>
                                No Frame
                            </p>
                            {% endif %}
                        </td>
                        <td>
                            <p>
                                {{item.art.price|floatformat:2}} SEK
                            </p>
                        </td>
                        <td>
                            <p>
                                {{item.quantity}}
                            </p>
                        </td>
                        <td>
                            <p>
                                {{item.art.price|floatformat:2}} SEK
                            </p>
                        </td>
                        <td>
                            <a class="remove-item" id="remove_{{ item.art_id }}" data-item="{{ item }}">
                                <i class="fas fa-times small" id="delete-icon"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                        </td>
                        <td class="bag-art-details-col">
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td class="subtotal-col">
                            <p>
                                Total: {{total|floatformat:2}} SEK
                            </p>
                            <p>
                                Delivery: {{ delivery|floatformat:2}} SEK
                            </p>
                            <strong> <p>
                                Subtotal: {{grand_total|floatformat:2}} SEK
                            </p></strong>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td class="bag-art-details-col">
                        <td></td>
                        <td><a href="{% url 'checkout' %}" class="btn homepage-btn add-to-bag Proceed-to-checkout">Proceed checkout</a></td>
                        <td class="subtotal-col">
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="text-center welcome-text mt-3 mb-3">Your bag is empty.</p>
            <div class="text-center">
                <a href="{% url 'art' %}?category=1" class="empty_bag_links">
                    <span class="icon">
                        <i class="fas fa chevron-left"></i>
                    </span>
                    <span>View painted art pieces</span>
                </a>
                <a href="{% url 'art' %}?category=2" class="empty_bag_links">
                    <span class="icon">
                        <i class="fas fa chevron-left"></i>
                    </span>
                    <span>View ink art pieces</span>
                </a>
                <a href="{% url 'art' %}?category=3" class="empty_bag_links">
                    <span class="icon">
                        <i class="fas fa chevron-left"></i>
                    </span>
                    <span>View pencil art pieces</span>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script type="text/javascript">
    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var item = $(this).data('item');
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'item': item
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}