{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <img src="{% static 'images/logoblack.png' %}" id="hero-image" class="img-fluid" alt="logo">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col text-center">
            <p id="welcoming text">
                Welcome to the official website of Inotila Opoeli Nghaamwa <br>
                <a href="#">[read more about Inotila]</a>
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div id="trending-homepage-link" class="home-category-img">
                <img src="{% static 'images/eliko.jpg' %}" id="hero-image" class="img-fluid" alt="logo">
            </div>
        </div>
        <div class="col">
            <div id="second-homepage-link" class="home-category-img">
                <img src="{% static 'images/ompenda.jpg' %}" id="hero-image" class="img-fluid" alt="logo">
            </div>
            <div id="Third-link" class="home-category-img">
                <img src="{% static 'images/readers.jpg' %}" id="hero-image" class="img-fluid" alt="logo">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <a href="#" class="btn btn-dark homepage-btn">paintings</a>
        <a href="#" class="btn btn-dark homepage-btn">ink</a>
        <a href="#" class="btn btn-dark homepage-btn">pencil</a>
    </div>
</div>
{% endblock %}