{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="container-fluid mt-3">
    <!-- welcome-text -->
    <div class="row">
        <div class="col d-flex justify-content-center welcome-text-container">
            <h1 id="home-title">@by_ino_ati</h1>

        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <strong>
                <p>
                    The official online art store and gallery of Inotila Opoeli Nghaamwa <br>
                </p>
            </strong>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-muted text-center">
            <a class="override-a-defualt" href="#">[read more about Inotila]</a>
        </div>
    </div>
    <!-- trending image links -->
    <div class="row d-inline-flex justify-content-center mb-3">
        <div class="col-8 col-lg-4 col-md-8 trend-col">
            <div class="trending-Img-container fill-space">
                <a href="{% url 'art' %}?category=1">
                    <img src="{% static 'images/eliko.jpg' %}" class="trending-catergory img-fluid"
                        alt="trending-catergor">
                </a>
            </div>
        </div>
        <div class="col-4 col-lg-2 col-md-4 d-flex flex-column trend-col">
            <div class="secondary-img-container fill-space">
                <a href="{% url 'art' %}?category=2">
                    <img src="{% static 'images/ompenda.jpg' %}" class="secondary-img img-fluid"
                        alt="trending-catergor">
                </a>
            </div>
            <div class="secondary-img-container fill-space">
                <a href="{% url 'art' %}?category=3">
                    <img src="{% static 'images/readers.jpg' %}" class="secondary-img img-fluid bottom-secondary-img"
                        alt="trending-catergor">
                </a>
            </div>
        </div>
    </div>
    <!-- button links to catergories -->
    <div class="row">
        <div class="col mb-3">
            <div class="home-page-btn-container  d-flex justify-content-center">
                <a href="{% url 'art' %}?is_available=True" class="btn homepage-btn shop-btn">shop</a>
                <a href="{% url 'art' %}?category=1" class="btn homepage-btn non-payment-btn">paintings</a>
                <a href="{% url 'art' %}?category=2" class="btn homepage-btn non-payment-btn">ink</a>
                <a href="{% url 'art' %}?category=3" class="btn homepage-btn non-payment-btn">pencil</a>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <!-- form for authenticated users to sign up join mailing list -->
            {% if user.is_authenticated %}
            <!-- form will only display if user has not already submitted it before -->
            {% if submitted_form == 0 %}
            <form class="mail-list" method="post" action="{% url 'home' %}">
                <h4 class="text-center" style="text-align: center;">Get essential updates:</h4>
                <p><strong>{{ user.username }}</strong> would you like to join get email notifications on new art works,
                    new art
                    works
                    available for sale, and much more?</p>
                {% csrf_token %}
                {{ mail_form }}
                <button>submit</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}