{% extends "base.html" %}
{% load static %}


{% block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="text-center welcome-text mt-3 mb-3">My Profile</h1>
            <hr>
            <p class="text-center">{{ user }}</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12 col-lg-6">
            <p class="text-muted">Default Delivery Information</p>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn homepage-btn non-payment-btn float-right mb-3">Update Information</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-muted">Purchase History</p>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless profile-table">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th class="date-table">Date</th>
                            <th>Art piece(s)</th>
                            <th>Purchase Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a class="override-a-defualt" href="{% url 'order_history' order.order_number %}"
                                    title="{{ order.order_number }}">
                                    {{ order.order_number|truncatechars:6 }}
                                </a>
                            </td>
                            <td class="date-table">{{ order.date }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                    <li class="small">
                                        {{ item.art.title }} x{{ item.quantity }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>${{ order.grand_total }} SEK</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
    {% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}