{% extends "base.html" %}
{% load static %}


{% block content%}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center welcome-text mt-3 mb-3">Thank You!</h2>
            <hr>
            <p class="text-black">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="">
            <a href="" class="">
                <span class="icon mr-2">
                    <i class="fas fa-gifts"></i>
                </span>
                <span class="text-uppercase">Shop more</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}