{% extends "base.html" %}
{% load static %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col text-center mb-3">
            <h2 class="mt-3">Thank You </h2>
            <h2>{{order.full_name}} <i class="fas fa-smile-beam icon-smile"></i></h2>
            <hr class="checkout-done-hr">
            <p>{{order.full_name}}, your support is much appreciated, enjoy your art and congratulation on expanding
                your collection!</p>
            <p>Your purchase information is below. A confirmation email will be sent to
                {{ order.email }}<span class="small"> (it might be in your spam folder)</span>, please check that all the details are correct.</p>
            <p> <span class="small"> Please contact Inotila immediately on <strong>@byinoati@gmail.com</strong> if any
                    of your information is incorrect.</span></p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div>
                <div class="row">
                    <div class="col">

                        <p><strong>Purchase Info:</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="mb-0"><strong>Purchase Number:</strong></p>
                    </div>
                    <div class="col-12 col-md-6 text-md-right">
                        <p class="mb-0 user-info-chk-d">{{order.order_number}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="mb-0"><strong>Order Date:</strong></p>
                    </div>
                    <div class="col-12 col-md-6 text-md-right">
                        <p class="mb-0 user-info-chk-d">{{order.date}}</p>
                    </div>
                </div>
                <hr class="checkout-done-hr">
                <div class="row">
                    <div class="col">
                        <p>
                            <strong>Delivery info:</strong>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="mb-0"><strong>Delivering to:</strong></p>
                    </div>
                    <div class="col-12 col-md-6 text-md-right">
                        <p class="mb-0 user-info-chk-d">{{order.full_name}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="mb-0"><strong>Phone Number:</strong></p>
                    </div>
                    <div class="col-12 col-md-6 text-md-right">
                        <p class="mb-0 user-info-chk-d">{{ order.phone_number }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="mb-0"><strong>Address 1:</strong></p>
                    </div>
                    <div class="col-12 col-md-6 text-md-right">
                        <p class="mb-0 user-info-chk-d">{{order.street_address1}}</p>
                    </div>
                </div>
                {% if order.street_address2 %}
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="mb-0"><strong>Address 2:</strong></p>
                    </div>
                    <div class="col-12 col-md-6 text-md-right">
                        <p class="mb-0 user-info-chk-d">{{ order.street_address1 }}</p>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="mb-0"><strong>Town or City:</strong></p>
                    </div>
                    <div class="col-12 col-md-6 text-md-right">
                        <p class="mb-0 user-info-chk-d">{{ order.town_or_city }}</p>
                    </div>
                </div>
                {% if order.county %}
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="mb-0"> <strong>County:</strong></p>
                    </div>
                    <div class="col-12 col-md-6 text-md-right">
                        <p class="mb-0 user-info-chk-d">{{ order.county }}</p>
                    </div>
                </div>
                {% endif %}
            </div>
            {% if order.postcode %}
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="mb-0"><strong>Postal Code:</strong></p>
                </div>
                <div class="col-12 col-md-6 text-md-right">
                    <p class="mb-0 user-info-chk-d">{{ order.postcode }}</p>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="mb-0"><strong>Country:</strong></p>
                </div>
                <div class="col-12 col-md-6 text-md-right">
                    <p class="mb-0 user-info-chk-d">{{ order.country }}</p>
                </div>
            </div>
            <hr class="checkout-done-hr">
            <div class="row">
                <div class="col">
                    <p class="mb-0"><strong>Billing Info:</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="mb-0"><strong>Purchase Total:</strong></p>
                </div>
                <div class="col-12 col-md-6 text-md-right">
                    <p class="mb-0 user-info-chk-d">{{ order.order_total }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="mb-0"><strong>Delivery Total:</strong></p>
                </div>
                <div class="col-12 col-md-6 text-md-right">
                    <p class="mb-0 user-info-chk-d">{{ order.delivery_cost }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="mb-0 text-black font-weight-bold">Grand Total</p>
                </div>
                <div class="col-12 col-md-6 text-md-right mb-3">
                    <p class="mb-0">{{ order.grand_total }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center mb-3">
            {% if from_profile %}
            <a href="{% url 'profile' %}" class="btn homepage-btn non-payment-btn">
                <span class="text-uppercase">Go to profile</span>
            </a>
            {% else %}
            <a href="{% url 'art' %}?is_available=True" class="btn homepage-btn non-payment-btn">
                <span class="text-uppercase ">Shop more!</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}