{% extends "base.html" %}
{% load static %}


{% block content%}
<div class="container">
    <div class="row">
        <div class="col text-center mb-3">
            <h2 class="welcome-text mt-3 mb-3">Thank You!</h2>
            <hr>
            <p class="text-black">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="" class="">
                <span class="text-uppercase btn homepage-btn non-payment-btn">Shop more!</span>
            </a>
        </div>
    </div>
</div>
</div>
{% endblock %}