{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col d-flex justify-content-center welcome-text-container">
            <h1>Who am I?</h1>
        </div>
    </div>
<div class="row">
    <div class="col d-flex justify-content-center">
        <div id="bio-img-container">
            <img src="{% static 'images/ati.jpg' %}" alt="">
        </div>
    </div>
</div>
<div class="row">
    <div class="col justify-content-center">
        <p>wowowowow o owowowo wo o o wowow wowow</p>
    </div>
</div>
</div>
{% endblock %}