{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col d-flex justify-content-center welcome-text-container">
            <h1 id="bio-heading">Who am I?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div id="bio-img-container">
            </div>
        </div>
    </div>
    <div class="row my-3 ">
        <div class="col  d-flex justify-content-center" >
            <p class="text-center" id="bio-text">Inotila Opoeli Nghaamwa (B.1991) is an artist and designer born in a small village called Oipapakane in
                Northern Namibia. Having lived between Namibia and South Africa Inotila has always been some what of a nomad and is currently located in Malmö,
                Sweden. The last of 15 children Inotila mastered the art of finding spaces to be alone. This need to
                find a space to be alone is reflected in his art. Being an avid traveller a strong appreciation for
                landscapes was developed and his work captures the temperament felt when looking at these landscapes.
                Using mostly acrylic paint, ink, and pencil Inotila creates images with allegorical meanings for those
                that dare go that deep or just for those who want to go to a different dimension. </p>
        </div>
    </div>
</div>
{% endblock %}