{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col d-flex justify-content-center welcome-text-container">
            <h1 id="bio-heading">Who am I?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div id="bio-img-container" style="background-image: url('{% static 'images/ati.jpg' %}');">
            </div>
        </div>
    </div>
    <div class="row my-3 ">
        <div class="col  d-flex justify-content-center">
            <p class="text-center" id="bio-text">Inotila Opoeli Nghaamwa (B.1991) is an artist and designer born in a
                small village called Oipapakane in Northern Namibia. A nomad since birth Inotila is currently located in
                Malmö, Sweden. He has had exhibited in Namibia(The dream,2023) and in Sweden (Odyssey, 2023 ),
                furthermore his work has been shown around Malmö, having an eight week long exhibition at popular
                seaside cafe St Jakob’s and showing of similar duration at Thap Thim restaurant located in the luxurious
                neighbourhood of Västra hamnen. Namibian publication featured Inotila as “Artist in the spot light”
                2023, which is a slot reserved for artist whose work has been considered note worthy. However, being the
                last of 15 children Inotila mastered the art of finding spaces to be alone and is not one to enjoy the
                spot light and would prefer his work spoke for him. This need to find a space to be alone is reflected
                in his art which tends to be have isolated figures or objects. Being an avid traveller a strong
                appreciation for landscapes was developed and his work captures the temperament felt when looking at
                these landscapes. Using mostly acrylic paint, ink, and pencil Inotila creates images with allegorical
                meanings for those that dare go that deep, to him a canvas is a portal to new dimension.
            </p>
        </div>
    </div>
</div>
{% endblock %}