html {
    height: 100%;
}

body {
    background-color: #F5F5F5;
    font-family: David Libre;
}

nav {
    background-color: #000;
    color: #fff;
}

footer {
    background-color: #000;
    color: #fff;
}