html {
    height: 100% !important; 
}

body {
    background-color: #F5F5F5 !important;
    font-family: David Libre !important;
}

nav {
    background-color: #000 !important;
    color: #fff !important;
}

footer {
    background-color: #000 !important;
    color: #fff !important;
}