/* general */

html {
    height: 100% !important;
}

body {
    background-color: #F5F5F5 !important;
    font-family: David Libre !important;
    
}

a {
    text-decoration: none;
    color: #F5F5F5;
}

.row {
    margin: 0px;
}


p {
    margin-top: 0;
    margin-bottom: 0;
}


/* nav bar  */
nav {
    background-color: #000;
    color: #F5F5F5;
    font-family: Oswald;
    font-weight: 200;
    padding:0px !important;
    margin: 0px !important;
}

.navbar-toggler {
    padding: 0.rem;
    font-size: 1.25rem;
    background-color: #000000;
    border: 1px solid #f8f9fa;
}

/* logo */

.logo {
    position: absolute;
    bottom: 0;
    font-family: Oswald;
    font-weight: 400;
    margin-left: 0.5rem;
}

/* mid/search section */

.search-container {
    position: relative;
    width: 100%;
    display:flex;
    justify-content:center
}

.search-bar {
    position: absolute;
    bottom: 0;
    width: 50%;
}

#search-box{
    width: 85%;
}

.search-container > div > form> div > button{
    border: none;
    background-color: transparent;
    color: white;
    padding:0px;
}
/* right/catergory section */

/* foot */
footer {
    background-color: #000 !important;
    color: #fff !important;
    font-family: Oswald;
    font-weight: 200;
    font-size: large
}

/* media for devices smaller than tablets */
@media (max-width: 768px) {
    .col {
        padding: 0px;
    }

    .logo {
    margin-left: 1rem;
}

    .search-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
}


    #search-box{
    width: 55%;
}
}