/* general */

html {
    height: 100% !important;
}

body {
    background-color: #F5F5F5 !important;
    font-family: Oswald;
    font-weight: 400;
    
}

a {
    text-decoration: none;
    color: #F5F5F5;
}

.row {
    margin: 0px;
}

.col {
    padding: 0px;
}


p {
    margin-top: 0;
    margin-bottom: 0;
}

.off-padding{
    padding: 0px !important;
}


/* nav bar  */
nav {
    background-color: #000;
    color: #F5F5F5;
    font-family: Oswald;
    font-weight: 200;
    padding:0px !important;
    margin: 0px !important;
}

.navbar-toggler {
    padding: 0px;
    font-size: 1.25rem;
    background-color: #00000000;
    border: 1px solid #f8f9fa;
}

/* logo */

.logo {
    position: absolute;
    bottom: 0;
    font-family: Oswald;
    font-weight: 400;
    margin: 0.5rem;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
}

/* mid/search section */

.search-container > form > div > div > button {
    background:#0000;
    margin: 0px;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #F5F5F5;
    
    background-color: #0000;
    border: none;
    border-radius: 0.25rem;
}

.search-icon-button{
    border:none;
}

.input-group{
    margin-bottom:0.5rem;
    
}


/* right/catergory section */

.justify-content-end > li {
    margin: 0.5rem;
}

/* foot */
footer {
    background-color: #000 !important;
    color: #fff !important;
    font-family: Oswald;
    font-weight: 200;
    font-size: large
}

/* index */

/* hero-img */

.hero-image-container{
    margin:0.5rem;
}

/* welcoming text */
div > div > p > a {
    color:black;
}

.welcome-text-container{
    margin-bottom: 0.5rem;
}

/* homepage img link container */

.trend-col{
    padding:0px !important;
}

.trending-Img-container{
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

.trending-catergory{
    height: 100%;
}



.bottom-secondary-img{
    margin-top: 0.5rem;
    
}

.fill-space {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

/* homepage buttons */

.home-page-btn-container{
    margin-top:0.5rem;
    margin-bottom: 0.5rem;
}

.homepage-btn{
    margin-right: 0.5rem;
    width: 10rem;
    color: #F5F5F5;
    background-color: #000;
}

/* art template */

.art-card-container{
    width: 100%;
}
.art-card{
    min-width: 30%;
}
.art-img{
    width: 100%;
    height: 30rem;
    object-fit: cover;
}
/* media for devices smaller than tablets */
@media (max-width: 768px) {


    .logo {
}

    .search-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
}


    #search-box{
    width: 55%;
}
}