{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-3">
            <!-- Art post Column -->
            {% if category == "1" %}
            <h1 class="text-center welcome-text mt-3">Paintings</h1>
            {% elif category == "2" %}
            <h1 class="text-center welcome-text mt-3">Ink</h1>
            {% elif category == "3" %}
            <h1 class="text-center welcome-text mt-3">Pencil</h1>
            {% else %}
            <h1 class="text-center welcome-text mt-3 text-uppercase" id="shop-title"><i class="fas fa-store"></i> <span
                    class="a-art">a</span><span class="r-art">r</span><span class="t-art">t</span> Shop </h1>
            {% endif %}
        </div>
    </div>
    <div class="row g-3 mb-3">
        <!-- loops through all art to be displayed -->
        {% for image in art %}
        <div class="col-12 mb-3 col-md-6 col-lg-4 d-flex justify-content-center art-card-container">
            <div class="card art-card">
                <!-- card image if no image is assigned to the post a default image from static file will display -->
                <a href="{% url 'details' image.id %}"><img class="card-img art-img" src="{{ image.art_image.url }}"
                        alt="a picture of art work by artist inotila nghaamwa"></a>
            </div>
        </div>
        <!-- text that is displayed if no post have been uploaded yet and the page is empty -->
        {% empty %}
        <div class="col-12 text-danger text-center mt-3">
            No art works have been uploaded to this page yet, please come back soon!
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}