{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class=" text-center welcome-text mt-3 mb-3">{{details.title}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col mr-3">
            <div class="card mb-3 ">
                <img class="card-img" src="{{ details.art_image.url }}"
                    alt="a picture of art work by artist inotila nghaamwa">
                <div class="card-body d-flex justify-content-between">
                    <!-- form for only signed in users to like post -->
                    {% if user.is_authenticated %}
                    <form action="{% url 'like_art_piece' details.id %}" method="post">
                        {% csrf_token %}
                        {% if liked %}
                        <button id="like-button" type="submit" name="user_art_like" value="{{details.id}}">
                            <p><i class="fas fa-heart"></i></p>
                        </button>
                        {% else %}
                        <button id="unlike-button" type="submit" name="user_art_unlike" value="{{details.id}}">
                            <p><i class="far fa-heart"></i></p>
                        </button>
                        {% endif %}
                    </form>
                    {% else %}
                    <p><i class="far fa-heart"></i></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col  text-center">
            <div class="mb-3">
                <h2>Details about art piece</h2>
                <p>Media:</p>
                <strong>
                    <p>{{details.media}}</p>
                </strong>
                <br>
                <p>Framed:</p>
                {% if details.is_framed %}
                <strong>
                    <p>Yes</p>
                </strong>
                {% else %}
                <strong>
                    <p>No</p>
                </strong>
                {% endif %}
                <br>
                <p>Size:</p>
                <strong>
                    <p>{{details.size}}</p>
                </strong>
                <br>
                <p>Completed:</p>
                <strong>
                    <p>{{details.date_completed}}</p>
                </strong>
                <!-- only display price and purchase button if art is available -->
                {% if details.is_available %}
                <br>
                <p>Price:</p>
                <strong>
                    <p>{{details.price|floatformat:2}} SEK</p>
                </strong>
            </div>
            {% if request.user.is_authenticated %}
            {% if bag_items %}
            {% if details.id|lower in art_ids|lower %}
            <a href="{% url 'checkout' %}" id="after-add-to-bag-btn"
                class="btn homepage-btn go-to-checkout mb-3">CHECKOUT</a>
            <p class="text-muted mb-3">Proceed to checkout to finish this purchase or <a class="text-muted"
                    href="{% url 'art' %}?category=1">veiw more art</a></p>
            {% else %}
            <form action="{% url 'add_to_bag' details.id %}" method="POST" id="add_to_bag_form">
                {% csrf_token %}
                <input type="submit" class="btn homepage-btn text-uppercase add-to-bag" data-art_id="{{ details.id }}"
                    value="Add to Bag">
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
            {% endif %}
            {% else %}
            <form action="{% url 'add_to_bag' details.id %}" method="POST" id="add_to_bag_form">
                {% csrf_token %}
                <input type="submit" class="btn homepage-btn text-uppercase add-to-bag" data-art_id="{{ details.id }}"
                    value="Add to Bag">
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
            {% endif %}
            {% else %}
            <strong>
                <p><a href="{% url 'account_signup' %}" class="override-a-defualt"> Sign-up</a> for free or <a
                        href="{% url 'account_login' %}" class="override-a-defualt">login</a>
                    to purchase this piece and enjoy other features of this site.</p>
            </strong>
            {% endif %}
            {% endif %}
            <div class="card mt-3">
                <div class="card-body">
                    <div class="text-center">
                        <h3 class="card-title">Comments</h3>
                    </div>
                    <!-- loops through comments and displays them in oder of date posted -->
                    {% for comment in comments %}
                    <div class="">
                        <p>
                            {{ comment.name }}
                            :
                            {{ comment.body }}
                            <span class=" text-muted">
                                {{ comment.created_on }}
                            </span>
                    </div>
                    {% endfor %}
                    <!-- comment form, only users who are authenticated can comment on post -->
                    {% if user.is_authenticated %}
                    <form class="comment-form" method="post">
                        <h4 class="text-center" style="text-align: center;">Join the Conversation:</h4>
                        {{ user_comments| crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-dark">comment</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}