{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Login In" %}{% endblock %}

{% block content %}

<h1 class="text-center welcome-text">{% trans "Login In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p class="text-center">{% blocktrans with site.name as site_name %}Please sign in with one
  of your existing third party accounts. Or, <a href="{{ signup_url }}" class="override-a-defualt font-weight-bold">sign up</a>
  for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot text-center">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p class="text-center">{% blocktrans %}If you have not created an account yet, then please <strong><a
      class="override-a-defualt" href="{{ signup_url }}">sign up</a></strong>
  first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="override-a-defualt" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="btn homepage-btn non-payment-btn" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}