{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
  <h1 class="text-center welcome-text">{% trans "Sign Out" %}</h1>

  <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>

  <form class="login" method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="text-center mt-3">
      <button class="btn homepage-btn non-payment-btn" type="submit">{% trans 'Sign Out' %}</button>
    </div>
  </form>
</div>
{% endblock %}