{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 class="text-center">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change login">
        {% csrf_token %}
        {{ form|crispy }}
        <button  class="btn homepage-btn non-payment-btn" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
