{% load static %}

<!doctype html>
<html lang="en">

<head>

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="An online gallery and shop for art work by Inotila Nghaamwa.People In the Skane region of Sweden and Denmark can buy original art works">
    <meta name="keywords"
        content="gallery, art, paintings, Sweden, Denmark, Copenhagen, online shop, museum, acrylics, paper, pencil, ink, creatives, canvas, landscapes, African artist, exotic art, collectors, art collectors, Namibian art, Namibian, Inotila, Opoeli, Nghaamwa">
    <meta name="author" content="Inotila Opoeli Nghaamwa">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous">
    </script>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=David+Libre&family=Lato&display=swap">
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/9412391c7f.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <title>@by_ino_ati</title>
</head>

<body class="d-flex flex-column h-100">
    <!-- header -->
    <nav class="navbar d-block">
        <div class="row w-100">
            <div class="col">
                <div class="nav-user-proflie-container">
                    <ul class="nav justify-content-end list-inline list-unstyled text-center text-lg-right my-0">
                        <li class="dropdown list-inline list-unstyled" id="li-profil-menu">
                            <a href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <div class="text-center">
                                    <i class="fas fa-user fa-lg"></i>
                                    {% if request.user.is_authenticated %}
                                    <p>{{ user.username }}</p>
                                    {% else %}
                                    <p>Profile</p>
                                    {% endif %}
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" id="profile-menu" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Sign-up</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li>
                            <a class="{% if art_piece_count %}text-info font-weight-bold{% else %}text-black{% endif %}"
                                href="{% url 'view_bag' %}">
                                <div class="text-center">
                                    <div>
                                        <i class="fas fa-shopping-bag fa-lg"></i>
                                    </div>
                                    <p id="items-in-bag-num">
                                        {% if art_piece_count %}
                                        {{ art_piece_count }}
                                        {% else %}
                                        0
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row w-100 d-flex flex-row">
            <div class="col-4 col-lg-3 off-padding">
                <div class="logo navbar-brand text-left">
                    <a href="{% url 'home' %}">@by_ino_ati</a>
                </div>
            </div>
            <div class="col-6 col-lg-6 search-container off-padding">
                <form method="GET" action="{% url 'art' %}">
                    <div class="input-group">
                        <input type="text" class="form-control search-bar" placeholder="title search"
                            aria-label="User's search" name="art-search">
                        <div class="input-group-append">
                            <button class="search-icon-button" type="submit" aria-label="A search button">
                                <span class="input-group-text" id="search-icon-container">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-2 col-lg-3 d-flex justify-content-end off-padding">
                <nav class="navbar navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                        aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                    </button>
                    <div class="collapse navbar-collapse" id="main-nav">
                        <ul class="navbar-nav w-auto mx-auto">
                            <li class="nav-item dropdown d-lg-flex flex-lg-row">
                                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                                <a class="nav-link activen" aria-current="page"
                                    href="{% url 'art' %}?is_available=True">Shop</a>
                                <a class="nav-link active" aria-current="page"
                                    href="{% url 'art' %}?category=1">Paintings</a>
                                <a class="nav-link active" aria-current="page" href="{% url 'art' %}?category=2">Ink</a>
                                <a class="nav-link active" aria-current="page"
                                    href="{% url 'art' %}?category=3">Pencil</a>
                                <a class="nav-link active" aria-current="page" href="{% url 'bio' %}">Bio</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </nav>
    {% if messages %}
    <div class="message-container" id="alert-message">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    {% block postload_js %}
    <script>
        $('.toast').toast('show');
    </script>
    {% endblock %}

    <footer class="footer mt-auto py-3">
        <!-- social media icons -->
        <p class="m-0 text-center social-media">Follow @by_ino_ati:
            <a href="https://www.instagram.com/by_ino_ati/" target="_blank" rel="noopener"><i
                    class="fab fa-instagram-square ms-3" id="insta" aria-label="A link to instagram"></i></a>
            <a href="https://www.facebook.com/byinoati/" target="_blank" rel="noopener"><i
                    class="fab fa-facebook-square ms-3" id="facebook" aria-label="A link to facebook"></i></a>
        </p>
        <p class="m-0 text-center text-muted privacy-copyright-text">
            <a href="https://www.privacypolicygenerator.info/live.php?token=pv9dRiKKr2GFN3kv7aNg3HgdE8lL288d"
                class="mr-3" target="_blank" rel="noopener">Privacy policy</a><i class="far fa-copyright"></i> 2022
            Inotila Opoeli Nghaamwa <span class="ml-3" id="email-footer-span">byinoati@gmail.com</span>
        </p>
    </footer>
    <div id="consent-popup">
        <h3 class="text-center"><i class="fas fa-cookie-bite"></i> Cookies consent:</h3>
        <p class="text-center">By using this site you are agreeing to the terms &
            conditions of our <a id="privacy-policy-consent-popup"
                href="https://www.privacypolicygenerator.info/live.php?token=pv9dRiKKr2GFN3kv7aNg3HgdE8lL288d">privacy
                policy</a>. We don't share your information with 3rd parties.
        </p>
        <div class="text-center mt-3">
            <a href="#" id="accept-cookies-btn" class="btn"> Accept</a>
        </div>

    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>